/* Content Section */
.content-section {
    padding: 40px 20px;
    background-color: #181818;
}

.content-section h2 {
    text-align: center;
    font-size: 32px;
    color: #e6e6e6;
    margin-bottom: 40px;
}

/* Grid Layout */
.project-grid {
    display: grid;
    grid-template-columns: 80px 1fr 150px; /* First column smaller, other two flexible */
    gap: 20px;
    margin-bottom: 40px; /* Space below the grid */
}

/* Individual Grid Items */
.project-item {
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    text-align: justify; /* Center align the text inside each project-item */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-item:hover {
    background-color: #333333;
    transform: translateY(-5px);
}

.project-item strong {
    display: flex; /* Use Flexbox to center content */
    background-color: #282828;
    color: #ff5722; /* Changed to a more distinct color for headers */
    font-weight: bold;
    text-align: center; /* Center text horizontally */
    justify-content: center; /* Center text vertically */
    align-items: center; /* Center text vertically */
    padding: 20px; /* Ensure padding is consistent with other items */
}

.project-item a {
    color: #1e90ff;
    text-decoration: none;
}

.project-item a:hover {
    text-decoration: underline;
}
